.main {
  margin-top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-back {
  width: 100%;
}

.quote {
  margin-bottom: 4rem;
  font-size: 2rem;
  color: var(--gold);
  text-align: center;
}

.quote-form .btn {
  font-size: 0.8rem;
  padding: 0.3rem;
  width: 100px;
  cursor: pointer;
}
