:root {
  --white: #fbf9ff;
  --gray: #3a3e41;
  --orange: #ff6d42;
  --yellow: #f6ba2f;
  --blue: #397f74;
}

body,
.main {
  background-color: var(--gray);
}

.hidden {
  display: none;
}

/*  */
.hint-div {
  display: inline-block;
  width: 100%;
  text-align: center ;
  padding: 5px;
  margin-bottom: 1rem;
  background-color: var(--yellow);
  color: var(--white);
}

.highlight {
  font-weight: bolder;
  color: var(--white);
}

.text-input {
  color: var(--yellow);
  caret-color: var(--orange);

  width: 100%;
  height: auto;

  margin: 20% 0;

  font-size: 6rem;
  border: none;
  outline: transparent;
  background: transparent ;
  text-align: center;
  /* background-color: var(--yellow); */
}



.info-bar {
  width: 100%;

  /* margin-bottom: 10%; */
  padding: 5px;
  padding-left: 1rem;

  text-align: center;
  font-size: 1.5rem;
  background-color: var(--blue);
}

.current-word {
  color: var(--yellow);
}

.next-word {
  color: #757575;
}